.root{
    -fx-background-image: url("bg.jpg");
    }

.ui {
    -fx-background-color: rgba(120, 116, 116, 0.2);

}

.GridPane{
    -fx-background-color: rgba(120, 116, 116, 0.2);
}

.label {
    -fx-text-fill: #33ff00;
    -fx-font-size: 14;

}

/*#inventory-label {*/
/*    -fx-background-color: rgba(143, 143, 143, 0.5);*/
/*    -fx-background-radius: 10;*/
/*}*/

#input {
    -fx-background-color: rgba(177, 177, 177, 0.25);
    -fx-font-size: 30px;
    -fx-pref-width: 300px;
    -fx-padding: 0 150 0 150;
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-display-caret: false;
}
#text {
    -fx-font-size: 30px;
    -fx-alignment: center;
    -fx-fill: white;
    -fx-display-caret: false;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2;
}

#allbtn {
    -fx-background-image: url("neon-button-default.png");
    -fx-background-color: transparent;
    -fx-background-size: 300px 35px;
    /*-fx-border-color: black;*/
    /*-fx-sha*/
    -fx-pref-width: 300px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Monospaced";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

#allbtn:hover{
    -fx-background-image: url("neon-button-push.png") ;
    -fx-background-size: 300px 35px;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-pref-width: 300px;

    -fx-padding: 5 10 5 10;
    -fx-font-family: "Monospaced";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

#pick-up-btn, #next-level-btn {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-background-color: green;
    -fx-pref-width: 150px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

#name-label {
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-family: "monospace";
    -fx-padding: 0 0 20 0;
}